trigger:
  branches:
    include:
      - develop
      - main

pr:
  branches:
    include:
      - main

pool:
  name: FiapCloudGames

variables:
  buildConfiguration: "Release"
  azureSubscription: 'Assinatura do Azure 1(700427bd-9535-44b3-8d18-0420dd7e02cf)'
  containerRegistry: 'fiapcloudgames-acr-connection'
  dockerRepository: 'fiap-cloud-games-api'
  appServicePlanName: 'ASP-rgfiapcloudgames-85ab'
  appServicePlanResourceGroup: 'rg-fiapcloudgames'
  testsArtifactName: 'fiap-cloud-games-binaries'
  testsArtifactPath: '$(Pipeline.Workspace)/test-binaries'

stages:
  - stage: Build
    displayName: "Build Solution"
    jobs:
      - job: Build
        steps:
          - task: UseDotNet@2
            displayName: "Install .NET SDK"
            inputs:
              packageType: "sdk"
              version: "8.x"

          - script: dotnet restore FiapCloudGames.Users.sln
            displayName: "Restore NuGet packages"

          - task: DotNetCoreCLI@2
            displayName: "Build Solution"
            inputs:
              azureSubscription: '$(azureSubscription)'
              command: 'build'
              projects: 'FiapCloudGames.Users.sln'
              arguments: '--configuration $(buildConfiguration) --no-restore'

          - publish: $(Build.SourcesDirectory)/tests/FiapCloudGames.Tests/bin/Release/net8.0/
            displayName: "Publish Binaries"
            artifact: $(testsArtifactName)

  - stage: Test
    displayName: "Run Tests"
    dependsOn: Build
    jobs:
      - job: Test
        steps:
          - task: DownloadPipelineArtifact@2
            displayName: "Download test binaries"
            inputs:
              artifact: '$(testsArtifactName)'
              path: '$(testsArtifactPath)'

          - task: DotNetCoreCLI@2
            displayName: "Run Unit Tests"
            inputs:
              azureSubscription: '$(azureSubscription)'
              command: 'test'
              projects: '$(testsArtifactPath)/FiapCloudGames.Tests.dll'
              arguments: '--no-build --collect:"XPlat Code Coverage"'
              testRunTitle: 'Test'

  - stage: Publish
    displayName: "Publish Artifacts"
    dependsOn: Test
    condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/main'), eq(variables['Build.Reason'], 'Manual')))
    jobs:
      - job: Publish
        steps:
            - task: Docker@2
              displayName: 'Build Docker image'
              inputs:
                command: build
                repository: $(dockerRepository)
                Dockerfile: src/FiapCloudGames.Api/Dockerfile
                tags: |
                  latest
                  $(Build.BuildId)
                buildContext: .
                containerRegistry: '$(containerRegistry)'
                buildArguments: --no-cache

            - task: Docker@2
              displayName: 'Push Docker image to ACR'
              inputs:
                command: push
                repository: $(dockerRepository)
                tags: |
                  latest
                  $(Build.BuildId)
                containerRegistry: '$(containerRegistry)'

            - task: AzureCLI@2
              displayName: 'Set App Service Plan to 2 Instances'
              inputs:
                azureSubscription: '$(azureSubscription)'
                scriptType: 'ps'
                scriptLocation: 'inlineScript'
                inlineScript: |
                  az appservice plan update --name $(appServicePlanName) --resource-group $(appServicePlanResourceGroup) --number-of-workers 2
