apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: users-api-keyvault
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    userAssignedIdentityID: <CLIENT_ID_DA_MANAGED_IDENTITY>
    keyvaultName: <NOME_DO_KEYVAULT>
    objects: |
      array:
        - objectName: DefaultConnection
          objectType: secret
        - objectName: ServiceBusConnectionString
          objectType: secret
        - objectName: ElasticsearchUsername
          objectType: secret
        - objectName: ElasticsearchPassword
          objectType: secret
    tenantId: <TENANT_ID>

  secretObjects:
    - secretName: users-api-secrets
      type: Opaque
      data:
        - objectName: DefaultConnection
          key: DefaultConnection
        - objectName: ServiceBusConnectionString
          key: ServiceBusConnectionString
        - objectName: ElasticsearchUsername
          key: ElasticsearchUsername
        - objectName: ElasticsearchPassword
          key: ElasticsearchPassword
